---
services: docker

env:
#  - distro: centos7
#  - distro: centos6
#  - distro: fedora27
#  - distro: ubuntu1604
#  - distro: ubuntu1404
#  - distro: ubuntu1204

  - distro: debian9
  - distro: debian8
  - distro: ubuntu1804
  - distro: ubuntu1604

script:
  # Configure test script so we can run extra tests after playbook is run.
  - export container_id=$(date +%s)
  - export cleanup=false
  - export DOCKER="docker exec --tty ${container_id} env TERM=xterm"

  # Download test shim.
  - wget -O ${PWD}/tests/test.sh https://gist.githubusercontent.com/tschifftner/4078cf2a8429d967d5e100649ff2caa9/raw/
  - chmod +x ${PWD}/tests/test.sh

  # Run tests.
  - ${PWD}/tests/test.sh

  # Check if munin node is installed
  - ${DOCKER} exim -bV
  - ${DOCKER} grep 'travis.local' /etc/mailname
  - ${DOCKER} grep 'root:' /etc/email-addresses


after_failure:
  - ${DOCKER} cat /etc/hostname
  - ${DOCKER} cat /etc/mailname
  - ${DOCKER} cat /etc/email-addresses
  - ${DOCKER} cat /etc/exim4/update-exim4.conf.conf

notifications:
  slack: ambimax:2MlPTX9bY9aPxCPhJGxHKIT6
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
